/* .football {
    content: "football";
    float: left;
    width: 200%;
    padding: 5px;
  } 

  
  .basketball {
    content: "basketball";
    float: left;
    width: 33.33%;
    padding: 5px;
  } 

  
  .icehockey {
    content: "icehockey";
    float: left;
    width: 33.33%;
    padding: 5px;
  }  */

.sports {
	display: flex;
	justify-content: space-around;
  margin-top: 5%;
  background: linear-gradient(white,blue)
}

.basketball {
  width: 100%;
  height: 100%;

}

.tennis {
  width: 100%;
  height: 100%;

}

.icehockey {
  width: 100%;
  height: 100%;


}

.football {
  width: 100%;
margin-top: 5%;

}

.description {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
