/* .football {
    content: "football";
    float: left;
    width: 200%;
    padding: 5px;
  } 

  
  .basketball {
    content: "basketball";
    float: left;
    width: 33.33%;
    padding: 5px;
  } 

  
  .icehockey {
    content: "icehockey";
    float: left;
    width: 33.33%;
    padding: 5px;
  }  */


  /*
.sports {
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}

.basketball {
	width: 100%;
}

.description {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
*/

.cardSection {
  position: relative;
  top: 0;
  display: flex !important; 
  text-align: center;
  padding: 5rem 0;
}

.card {
  margin : 0 auto !important;
}

img {
  height: 15rem;
} 