.sportCardTitle{
  margin: 5% 0;
  padding: 1% 0;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

.sportCardSection {
	display: flex;
	justify-content: space-around;
  margin: 5% 5%;
}

.sportCardSection .header {
  text-align: center;
  1font-weight: bold !important;
  font-family: inherit !important;
}

.sportCardSection .card .sportImg {
  height: 10rem;
  width: 100%;
  background-color: #f7f7f7 !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}