.mainImageBox {
    height: 40rem;
    text-align: center;
    color: rgb(255, 255, 255);
    position:relative;

    background-color: #f7f7f7; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.mainInfoBox{
    position: absolute;
    top: 13rem;
}

.mainTitle {
    font-size: 4.5rem;
}

.mainDescription{
    font-size: 2rem;
}

a, a:hover {
    color: white;
}