
.searchBar  {
    position: relative;
    top: -2rem;
    height: 4rem;
    width: 65rem !important;
    background-color: black;
    border-radius: 5px;
}
.searchForm {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex !important;
    color: white;
    font-size: 1rem;
}

.searchInput{
    height: 2rem;
    margin: 0 2rem;
    font-weight: bold;
}


.searchButton, .searchButton > i {
    color: white;
    margin: 0 0 !important;
}

