

 .FindGustes {
    background-color: greenyellow;

    /* The image used */
    background-image: url(../assets/tennis.jpg);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Message {
    background-color: greenyellow;

    /* The image used */
    background-image: url(../assets/tennis.jpg);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}